In [1]:
import pandas as pd
import numpy as np
import fosforml

from snowflake.snowpark import Session
from snowflake.connector.pandas_tools import write_pandas

from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [ ]:
cust1 = pd.read_csv('Customer_details_file1.csv')

In [ ]:
cust1.shape

In [ ]:
cust1.info()

In [ ]:
cust1.head()

In [ ]:
cust1.isnull().sum()

In [ ]:
df_snowflake=my_session.createDataFrame(
        fc.values.tolist(),
        schema=fc.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_DATA_FILE1")

In [8]:
loan =  pd.read_csv('loan.csv')
fc =  pd.read_csv('Final_classification.csv')
fb =  pd.read_csv('Financial_breakdown.csv')
ac =  pd.read_csv('account.csv')
cc =  pd.read_csv('credit_card.csv')
db =  pd.read_csv('direct_debit.csv')
kyc =  pd.read_csv('kyc.csv')
sub =  pd.read_csv('subscriptions.csv')
td =  pd.read_csv('term_deposit.csv')
tr =  pd.read_csv('transactions.csv')

# final Classification dataset

In [9]:
fc.shape

(1016, 18)

In [56]:
fc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016 entries, 0 to 1015
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Cust_ID                   1016 non-null   int64
 1   Emp_Status                1016 non-null   object
 2   Slope_Balance_6M          1016 non-null   float64
 3   Slope_Income_6M           1016 non-null   float64
 4   Slope_Expense_6M          1016 non-null   float64
 5   Anomaly                   1016 non-null   int64
 6   Fees_Charges              1016 non-null   float64
 7   Mortgage_Mthly_Payment    55 non-null     float64
 8   Car_Mthly_Payment         44 non-null     float64
 9   Loan_Late_Payment         99 non-null     object
 10  CC_Mthly_Payment          374 non-null    float64
 11  CC_Annual_Fee             374 non-null    float64
 12  CC_Outstanding            374 non-null    float64
 13  CC_Late_Payment           374 non-null    object
 14  Subscriptions_Count       223 non-null    float64
 15  Flag_Negative_Bal_Months  794 non-null    float64
 16  HH_Amount                 89 non-null     float64
 17  Others_Amount             89 non-null     float64
dtypes: float64(13), int64(2), object(3)
memory usage: 143.0+ KB

In [10]:
fc.head()

,Cust_ID,Emp_Status,Slope_Balance_6M,Slope_Income_6M,Slope_Expense_6M,Anomaly,Fees_Charges,Mortgage_Mthly_Payment,Car_Mthly_Payment,Loan_Late_Payment,CC_Mthly_Payment,CC_Annual_Fee,CC_Outstanding,CC_Late_Payment,Subscriptions_Count,Flag_Negative_Bal_Months,HH_Amount,Others_Amount
0,100011,Non-working,-441.660571,-3912.310857,-3134.786571,0,14.571429,3337.43,NaN,No,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,100012,Working,1140.641429,-43.326286,11.750857,0,17.857143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN,NaN
2,100013,Unknown,3502.731429,1997.372286,560.880000,0,7.657143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,100014,Retired,60473.149140,-199.484000,1341.280571,0,-5.257143,NaN,NaN,NaN,110088.0,89.81,47301.0,No,NaN,6.0,NaN,NaN
4,100015,Working,-150.322286,1334.580857,1242.962857,1,9.542857,NaN,NaN,NaN,73190.0,0.00,14793.0,Yes,NaN,0.0,NaN,NaN

In [55]:
fc.isnull().sum()

Cust_ID                       0
Emp_Status                    0
Slope_Balance_6M              0
Slope_Income_6M               0
Slope_Expense_6M              0
Anomaly                       0
Fees_Charges                  0
Mortgage_Mthly_Payment      961
Car_Mthly_Payment           972
Loan_Late_Payment           917
CC_Mthly_Payment            642
CC_Annual_Fee               642
CC_Outstanding              642
CC_Late_Payment             642
Subscriptions_Count         793
Flag_Negative_Bal_Months    222
HH_Amount                   927
Others_Amount               927
dtype: int64

In [57]:
fc['Mortgage_Mthly_Payment'].fillna(0.0, inplace=True)
fc['Car_Mthly_Payment'].fillna(0.0, inplace=True)
fc['Loan_Late_Payment'].fillna('UNKNOWN', inplace=True)
fc['CC_Mthly_Payment'].fillna(0.0, inplace=True)
fc['CC_Annual_Fee'].fillna(0.0, inplace=True)
fc['CC_Outstanding'].fillna(0.0, inplace=True)
fc['CC_Late_Payment'].fillna('UNKNOWN', inplace=True)
fc['Subscriptions_Count'].fillna(0.0, inplace=True)
fc['Flag_Negative_Bal_Months'].fillna(0.0, inplace=True)
fc['HH_Amount'].fillna(0.0, inplace=True)
fc['Others_Amount'].fillna(0.0, inplace=True)

In [58]:
fc.isnull().sum()

Cust_ID                     0
Emp_Status                  0
Slope_Balance_6M            0
Slope_Income_6M             0
Slope_Expense_6M            0
Anomaly                     0
Fees_Charges                0
Mortgage_Mthly_Payment      0
Car_Mthly_Payment           0
Loan_Late_Payment           0
CC_Mthly_Payment            0
CC_Annual_Fee               0
CC_Outstanding              0
CC_Late_Payment             0
Subscriptions_Count         0
Flag_Negative_Bal_Months    0
HH_Amount                   0
Others_Amount               0
dtype: int64

In [59]:
df_snowflake=my_session.createDataFrame(
        fc.values.tolist(),
        schema=fc.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_CLASSIFICATION_OUTPUT")

# Loan dataset

In [4]:
loan.shape

(100000, 22)

In [5]:
loan.head()

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,...,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Customer Id,Direct_debit_status,Acc_IBAN,Acc_BBAN
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,...,6,1,228190,416746.0,1.0,0.0,109431,Yes,GB77BEKP85108114321951,DZEO73686758765150
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,...,35,0,229976,850784.0,0.0,0.0,17692,Yes,GB62QYAZ05133954313389,AKML18842042541303
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,Fully Paid,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,...,18,1,297996,750090.0,0.0,0.0,18057,No,GB02NDIJ13326012923589,WCXG88711319696828
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,...,9,0,256329,386958.0,0.0,0.0,71031,Yes,GB31LFAC39388236141938,WWGV47546835245615
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,...,15,0,253460,427174.0,0.0,0.0,78850,Yes,GB18EFPE69167475140335,QVOZ42574794211950

In [6]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Loan Status                   100000 non-null  object
 2   Current Loan Amount           100000 non-null  int64
 3   Term                          100000 non-null  object
 4   Credit Score                  80846 non-null   float64
 5   Annual Income                 80846 non-null   float64
 6   Years in current job          95778 non-null   object
 7   Home Ownership                100000 non-null  object
 8   Purpose                       100000 non-null  object
 9   Monthly Debt                  100000 non-null  float64
 10  Years of Credit History       100000 non-null  float64
 11  Months since last delinquent  46859 non-null   float64
 12  Number of Open Accounts       100000 non-null  int64
 13  Number of Credit Problems     100000 non-null  int64
 14  Current Credit Balance        100000 non-null  int64
 15  Maximum Open Credit           99998 non-null   float64
 16  Bankruptcies                  99796 non-null   float64
 17  Tax Liens                     99990 non-null   float64
 18  Customer Id                   100000 non-null  int64
 19  Direct_debit_status           100000 non-null  object
 20  Acc_IBAN                      100000 non-null  object
 21  Acc_BBAN                      100000 non-null  object
dtypes: float64(8), int64(5), object(9)
memory usage: 16.8+ MB

In [7]:
loan.isnull().sum()

Loan ID                             0
Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    19154
Annual Income                   19154
Years in current job             4222
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    53141
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      204
Tax Liens                          10
Customer Id                         0
Direct_debit_status                 0
Acc_IBAN                            0
Acc_BBAN                            0
dtype: int64

In [60]:
loan['Credit Score'].fillna(0.0, inplace=True)
loan['Annual Income'].fillna(0.0, inplace=True)
loan['Years in current job'].fillna('UNKNOWN', inplace=True)
loan['Months since last delinquent'].fillna(0.0, inplace=True)
loan['Bankruptcies'].fillna(0.0, inplace=True)
loan['Tax Liens'].fillna(0.0, inplace=True)

In [61]:
df_snowflake=my_session.createDataFrame(
        loan.values.tolist(),
        schema=loan.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_LOAN_DETAILS")

SnowparkSQLException: (1304): 01b6ea07-0710-da50-0072-f30310afe50e: 000904 (42000): SQL compilation error: error line 1 at position 7,708,783
invalid identifier 'NAN'

# Financial Breakdown

In [14]:
fb.shape

(180, 7)

In [15]:
fb.head()

,Cust_ID,Yr_MthNum,Balance,Income,Expense,Bank_Name,Fees_Charges
0,100001,2021-10,159425.04,37244.76,32510.54,All,0.0
1,100001,2021-10,131040.54,19647.84,23232.06,JPMorgan Chase,0.0
2,100001,2021-10,18883.39,5690.71,3511.60,Citigroup,0.0
3,100001,2021-10,2953.41,2414.71,1653.99,Bank of America,0.0
4,100001,2021-10,6547.70,9491.50,4112.89,Goldman Sachs,0.0

In [16]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cust_ID       180 non-null    int64
 1   Yr_MthNum     180 non-null    object
 2   Balance       180 non-null    float64
 3   Income        180 non-null    float64
 4   Expense       180 non-null    float64
 5   Bank_Name     180 non-null    object
 6   Fees_Charges  180 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 10.0+ KB

In [17]:
fb.isnull().sum()

Cust_ID         0
Yr_MthNum       0
Balance         0
Income          0
Expense         0
Bank_Name       0
Fees_Charges    0
dtype: int64

In [18]:
df_snowflake=my_session.createDataFrame(
        fb.values.tolist(),
        schema=fb.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_FINANCE_BREAKDOWN")

# Account Datasets

In [19]:
ac.shape

(3106, 7)

In [21]:
ac.head()

,Cust_ID,Acc_IBAN,Acc_BBAN,Acc_Open_Dt,Balance,Acc_Status,Acc_Type
0,4185,GB90EMIC89482763544524,GDJY66571183273954,2001-03-22,$50.57,Active,Credit
1,291,GB83VYSJ52094207716710,OVWN34297715684777,2010-08-29,"$74,111.13",Closed,Current
2,7497,GB17OCSO08226852523762,DLFO12501444293678,2000-09-04,$669.14,Active,Loan
3,7497,GB26RRMJ41734703010562,SZPN32742192244415,2010-09-05,$0.03,Active,Credit
4,7497,GB13JBDZ14742645466984,DAGC95804976124339,2006-02-14,$0.71,Closed,Credit

In [22]:
ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3106 entries, 0 to 3105
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cust_ID      3106 non-null   int64
 1   Acc_IBAN     3106 non-null   object
 2   Acc_BBAN     3106 non-null   object
 3   Acc_Open_Dt  3106 non-null   object
 4   Balance      3106 non-null   object
 5   Acc_Status   3106 non-null   object
 6   Acc_Type     3106 non-null   object
dtypes: int64(1), object(6)
memory usage: 170.0+ KB

In [23]:
ac.isnull().sum()

Cust_ID        0
Acc_IBAN       0
Acc_BBAN       0
Acc_Open_Dt    0
Balance        0
Acc_Status     0
Acc_Type       0
dtype: int64

In [24]:
df_snowflake=my_session.createDataFrame(
        ac.values.tolist(),
        schema=ac.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_ACCOUNT_DETAILS")

# Credit Card Datasets

In [25]:
cc.shape

(284, 12)

In [26]:
cc.head()

,Cust_ID,Bal_OutStanding,Acc_Number,Card_Number,Card_Sec_Code,Card_Provider,Expiry_Dt,Credit_Limit,Limit_Utilized,Status,Default,Due_Date
0,486,"$7,604.87",EJEY19489241157815,345139332871151,947,JCB 16 digit,02/24,$52.09,"$76,848.33",Closed,N,2021-09-08
1,486,$975.93,NKTU38778408016097,180014841858395,965,VISA 13 digit,03/23,"$2,112.20","$24,775.15",Freezed,N,2021-09-11
2,7867,$233.04,BDZE30989101399161,4456208709162,972,JCB 15 digit,03/27,"$2,428.07","$3,594.59",Active,Y,2021-09-13
3,7867,$75.25,LDBT03217300869141,4579230225848,769,VISA 19 digit,09/24,$408.42,$466.10,Freezed,Y,2021-09-05
4,6967,$73.37,OCIW27878900754706,3544217610471424,776,JCB 16 digit,09/21,$64.55,$4.22,Active,N,2021-09-08

In [27]:
cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cust_ID          284 non-null    int64
 1   Bal_OutStanding  284 non-null    object
 2   Acc_Number       284 non-null    object
 3   Card_Number      284 non-null    int64
 4   Card_Sec_Code    284 non-null    int64
 5   Card_Provider    284 non-null    object
 6   Expiry_Dt        284 non-null    object
 7   Credit_Limit     284 non-null    object
 8   Limit_Utilized   284 non-null    object
 9   Status           284 non-null    object
 10  Default          284 non-null    object
 11  Due_Date         284 non-null    object
dtypes: int64(3), object(9)
memory usage: 26.8+ KB

In [28]:
cc.isnull().sum()

Cust_ID            0
Bal_OutStanding    0
Acc_Number         0
Card_Number        0
Card_Sec_Code      0
Card_Provider      0
Expiry_Dt          0
Credit_Limit       0
Limit_Utilized     0
Status             0
Default            0
Due_Date           0
dtype: int64

In [29]:
df_snowflake=my_session.createDataFrame(
        cc.values.tolist(),
        schema=cc.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_CREDITCARD_DETAILS")

# Direct Debit Datasets

In [30]:
db.shape

(514, 10)

In [31]:
db.head()

,Cust_ID,Direct_Deb_Status,Bank_Name,DD_Amt,Mandate_Dt,Mandate_Num,Branch_Code,Beneficiary,Frequency,End_Date
0,3394,Active,UBS,"$3,254.89",24th,OELMGB0BH8E,75448079,Hiran Banerjee,Half Yearly,2020-11-24
1,3394,Active,Bank of America,"$42,303.38",21th,QIIAGBJ3S2A,61771815,Dhanush Bahl,Monthly,2021-02-13
2,5288,Closed,Discover Financial,$3.07,9th,NOSPGBMTY7X,115073841,Tiya Sampath,Quarterly,2022-04-28
3,5288,Closed,Credit Suisse,$7.41,2nd,ZVRQGBHO310,48906810,Adira Savant,Yearly,2021-11-11
4,5288,Closed,Santander Bank,$122.56,2nd,QTJIGB7ROAT,115073841,Tarini Baria,Quarterly,2021-09-14

In [32]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cust_ID            514 non-null    int64
 1   Direct_Deb_Status  514 non-null    object
 2   Bank_Name          514 non-null    object
 3   DD_Amt             514 non-null    object
 4   Mandate_Dt         514 non-null    object
 5   Mandate_Num        514 non-null    object
 6   Branch_Code        514 non-null    int64
 7   Beneficiary        514 non-null    object
 8   Frequency          514 non-null    object
 9   End_Date           514 non-null    object
dtypes: int64(2), object(8)
memory usage: 40.3+ KB

In [33]:
db.isnull().sum()

Cust_ID              0
Direct_Deb_Status    0
Bank_Name            0
DD_Amt               0
Mandate_Dt           0
Mandate_Num          0
Branch_Code          0
Beneficiary          0
Frequency            0
End_Date             0
dtype: int64

In [34]:
df_snowflake=my_session.createDataFrame(
        db.values.tolist(),
        schema=db.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_DIRECT_DEBIT_DETAILS")

# KYC Datasets

In [35]:
kyc.shape

(200, 8)

In [36]:
kyc.head()

,Cust_ID,KYC_Status,Passport_Number,SSN,State_ID,Last_KYC_Dt,Cust_Risk_Category,Next_KYC_Dt
0,4185,Active,J9-0772259c,034-51-6010,MI,2020-11-10,Low,2020-11-10
1,291,Active,g6-3399040p,710-27-3992,NE,2021-05-30,Medium,2021-05-30
2,7497,Active,m4-1775446l,194-41-0289,WA,2020-11-11,Medium,2020-11-11
3,5138,Active,M7-3727798q,640-92-1726,TX,2020-12-29,Low,2020-12-29
4,7862,Active,y6-5643506K,051-12-3590,FL,2021-02-09,Prohibited,2021-02-09

In [37]:
kyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cust_ID             200 non-null    int64
 1   KYC_Status          200 non-null    object
 2   Passport_Number     200 non-null    object
 3   SSN                 200 non-null    object
 4   State_ID            200 non-null    object
 5   Last_KYC_Dt         200 non-null    object
 6   Cust_Risk_Category  200 non-null    object
 7   Next_KYC_Dt         200 non-null    object
dtypes: int64(1), object(7)
memory usage: 12.6+ KB

In [38]:
kyc.isnull().sum()

Cust_ID               0
KYC_Status            0
Passport_Number       0
SSN                   0
State_ID              0
Last_KYC_Dt           0
Cust_Risk_Category    0
Next_KYC_Dt           0
dtype: int64

In [39]:
df_snowflake=my_session.createDataFrame(
        kyc.values.tolist(),
        schema=kyc.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_KYC_DETAILS")

# Subscriptions Dataset

In [40]:
sub.shape

(3977, 10)

In [41]:
sub.head()

,Cust_ID,Acc_BBAN,Subscription,Start_Dt,End_Dt,Due_Dt,Category,Amount,Payment_Freq,Subscriptions_Count
0,22933537019,GHSE85704796654590,Walmart,23-11-2020,26-05-2021,2nd,E-commerce,6.29,Monthly,2
1,22933537019,OICE68175563652528,eBay,28-07-2019,14-01-2020,3rd,E-commerce,27.44,Monthly,2
2,22933537019,BTUU34912202642195,Spotify,09-03-2020,04-09-2020,11th,Music,46.76,Monthly,2
3,22933537019,BTUU34912202642195,YouTube Music,20-03-2020,05-09-2020,8th,Music,17.54,Monthly,2
4,22933537019,MQHM19431561232015,Prime Video,20-10-2019,31-03-2020,4th,OTT,17.78,Monthly,3

In [42]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3977 entries, 0 to 3976
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cust_ID              3977 non-null   int64
 1   Acc_BBAN             3977 non-null   object
 2   Subscription         3977 non-null   object
 3   Start_Dt             3977 non-null   object
 4   End_Dt               3977 non-null   object
 5   Due_Dt               3977 non-null   object
 6   Category             3977 non-null   object
 7   Amount               3977 non-null   float64
 8   Payment_Freq         3977 non-null   object
 9   Subscriptions_Count  3977 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 310.8+ KB

In [43]:
sub.isnull().sum()

Cust_ID                0
Acc_BBAN               0
Subscription           0
Start_Dt               0
End_Dt                 0
Due_Dt                 0
Category               0
Amount                 0
Payment_Freq           0
Subscriptions_Count    0
dtype: int64

In [44]:
df_snowflake=my_session.createDataFrame(
        sub.values.tolist(),
        schema=sub.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_SUBSCRIPTION_DETAILS")

# Term Deposits Datasets

In [45]:
td.shape

(1492, 10)

In [46]:
td.head()

,Acc_BBAN,Acc_IBAN,Account_Opened_Date,Balance,Customer_Id,Deposit_Type,Maturity_Amt,Principal_Amt,Status,Tenure
0,DVYN03693610633283,GB50VFVX85805793699604,9/2/1979,"$43,605.20",72665,Fixed Deposit,$32.44,$648.75,Loan against TD,1-year
1,FAJA44909414808043,GB68KVHP56561038459937,31-05-2021,"$69,026.40",129124,Recurring Deposit,"$4,605.20","$92,104.00",Matured,4-years
2,VAGE07589777836146,GB15ODTP73005001655692,14-01-2023,$3.65,129124,Recurring Deposit,$100.58,"$2,011.63",Pre-Matured,2-years
3,ENBD31658749833277,GB26YVPY53107950590019,2/4/1971,$529.60,196254,Recurring Deposit,$366.15,"$7,323.03",Matured,4-years
4,XFQG10532634859004,GB48VQZQ32738760551634,16-08-1994,"$40,278.53",159818,Recurring Deposit,$29.26,$585.12,Loan against TD,1-year

In [47]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Acc_BBAN             1492 non-null   object
 1   Acc_IBAN             1492 non-null   object
 2   Account_Opened_Date  1492 non-null   object
 3   Balance              1492 non-null   object
 4   Customer_Id          1492 non-null   int64
 5   Deposit_Type         1492 non-null   object
 6   Maturity_Amt         1492 non-null   object
 7   Principal_Amt        1492 non-null   object
 8   Status               1492 non-null   object
 9   Tenure               1492 non-null   object
dtypes: int64(1), object(9)
memory usage: 116.7+ KB

In [48]:
td.isnull().sum()

Acc_BBAN               0
Acc_IBAN               0
Account_Opened_Date    0
Balance                0
Customer_Id            0
Deposit_Type           0
Maturity_Amt           0
Principal_Amt          0
Status                 0
Tenure                 0
dtype: int64

In [49]:
df_snowflake=my_session.createDataFrame(
        td.values.tolist(),
        schema=td.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_TERM_DEPOSIT_DETAILS")

# Transactions Datasets

In [50]:
tr.shape

(6299, 19)

In [51]:
tr.head()

,Acc_BBAN,Acc_IBAN,Acc_Open_Dt,Balance,Cust_ID,Expense,Expense_Category,browser,device,dr_cr,login_time,logout_time,txn_Dt,txn_ID,txn_amount,txn_code,txn_remarks,txn_time,txn_type
0,RHOS43398039713911,GB61LNNL27019625918822,8/4/2019,5822.30,100001,N,Credited,SAFARI,PC,Cr,7:14:43,11:24:53,8/4/2019,49760811,466.51,1,Reduce meeting read collection interest health...,9:22:10,NEFT
1,RHOS43398039713911,GB61LNNL27019625918822,8/4/2019,6288.81,100001,N,Credited,CHROME,MOBILE,Cr,11:59:09,15:18:06,8/4/2019,42666943,466.51,5,Occur environment film method.\r\nBox region b...,13:39:29,CARDS
2,RHOS43398039713911,GB61LNNL27019625918822,8/4/2019,6755.32,100001,N,Credited,SAFARI,POS,Cr,16:58:31,18:27:45,8/4/2019,38399527,466.51,1,Admit space read Mrs fear. Me whether customer...,17:54:01,NEFT
3,RHOS43398039713911,GB61LNNL27019625918822,8/4/2019,7221.83,100001,N,Credited,SAFARI,MOBILE,Cr,20:43:50,22:28:44,8/4/2019,83195211,466.51,4,Surface important challenge sport during dinne...,21:20:11,UPI
4,RHOS43398039713911,GB61LNNL27019625918822,8/4/2019,5409.04,100001,Y,Household Consumables,EDGE,MOBILE,Dr,11:38:00,21:00:49,8/12/2019,84209757,1812.79,7,Action general event. Floor certainly series o...,15:02:14,DD

In [52]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6299 entries, 0 to 6298
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Acc_BBAN          6299 non-null   object
 1   Acc_IBAN          6299 non-null   object
 2   Acc_Open_Dt       6299 non-null   object
 3   Balance           6299 non-null   float64
 4   Cust_ID           6299 non-null   int64
 5   Expense           6299 non-null   object
 6   Expense_Category  6299 non-null   object
 7   browser           6299 non-null   object
 8   device            6299 non-null   object
 9   dr_cr             6299 non-null   object
 10  login_time        6299 non-null   object
 11  logout_time       6299 non-null   object
 12  txn_Dt            6299 non-null   object
 13  txn_ID            6299 non-null   int64
 14  txn_amount        6299 non-null   float64
 15  txn_code          6299 non-null   int64
 16  txn_remarks       6299 non-null   object
 17  txn_time          6299 non-null   object
 18  txn_type          6299 non-null   object
dtypes: float64(2), int64(3), object(14)
memory usage: 935.1+ KB

In [53]:
tr.isnull().sum()

Acc_BBAN            0
Acc_IBAN            0
Acc_Open_Dt         0
Balance             0
Cust_ID             0
Expense             0
Expense_Category    0
browser             0
device              0
dr_cr               0
login_time          0
logout_time         0
txn_Dt              0
txn_ID              0
txn_amount          0
txn_code            0
txn_remarks         0
txn_time            0
txn_type            0
dtype: int64

In [54]:
df_snowflake=my_session.createDataFrame(
        tr.values.tolist(),
        schema=tr.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("BFS_HYPER_PERSNL_DB.BFS_HYPER_PERSNL_SCHEMA.CUSTOMER_TRANSACTION_DETAILS")