In [1]:
import pandas as pd
import numpy as np
import fosforml

from snowflake.snowpark import Session
from snowflake.connector.pandas_tools import write_pandas

from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [8]:
loan =  pd.read_csv('loan.csv')
fc =  pd.read_csv('Final_classification.csv')
fb =  pd.read_csv('Financial_breakdown.csv')
ac =  pd.read_csv('account.csv')
cc =  pd.read_csv('credit_card.csv')
db =  pd.read_csv('direct_debit.csv')
kyc =  pd.read_csv('kyc.csv')
sub =  pd.read_csv('subscriptions.csv')
td =  pd.read_csv('term_deposit.csv')
tr =  pd.read_csv('transactions.csv')

In [4]:
loan.shape

(100000, 22)

In [5]:
loan.head()

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,...,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Customer Id,Direct_debit_status,Acc_IBAN,Acc_BBAN
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,...,6,1,228190,416746.0,1.0,0.0,109431,Yes,GB77BEKP85108114321951,DZEO73686758765150
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,...,35,0,229976,850784.0,0.0,0.0,17692,Yes,GB62QYAZ05133954313389,AKML18842042541303
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,Fully Paid,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,...,18,1,297996,750090.0,0.0,0.0,18057,No,GB02NDIJ13326012923589,WCXG88711319696828
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,...,9,0,256329,386958.0,0.0,0.0,71031,Yes,GB31LFAC39388236141938,WWGV47546835245615
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,...,15,0,253460,427174.0,0.0,0.0,78850,Yes,GB18EFPE69167475140335,QVOZ42574794211950

In [6]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Loan Status                   100000 non-null  object
 2   Current Loan Amount           100000 non-null  int64
 3   Term                          100000 non-null  object
 4   Credit Score                  80846 non-null   float64
 5   Annual Income                 80846 non-null   float64
 6   Years in current job          95778 non-null   object
 7   Home Ownership                100000 non-null  object
 8   Purpose                       100000 non-null  object
 9   Monthly Debt                  100000 non-null  float64
 10  Years of Credit History       100000 non-null  float64
 11  Months since last delinquent  46859 non-null   float64
 12  Number of Open Accounts       100000 non-null  int64
 13  Number of Credit Problems     100000 non-null  int64
 14  Current Credit Balance        100000 non-null  int64
 15  Maximum Open Credit           99998 non-null   float64
 16  Bankruptcies                  99796 non-null   float64
 17  Tax Liens                     99990 non-null   float64
 18  Customer Id                   100000 non-null  int64
 19  Direct_debit_status           100000 non-null  object
 20  Acc_IBAN                      100000 non-null  object
 21  Acc_BBAN                      100000 non-null  object
dtypes: float64(8), int64(5), object(9)
memory usage: 16.8+ MB

In [7]:
loan.isnull().sum()

Loan ID                             0
Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    19154
Annual Income                   19154
Years in current job             4222
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    53141
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      204
Tax Liens                          10
Customer Id                         0
Direct_debit_status                 0
Acc_IBAN                            0
Acc_BBAN                            0
dtype: int64